.megarandom {
    background: url('../assets/maps/megarandom.png');
  }

  .bog {
    background: url('../assets/maps/bog.png');
  }


  .crochetbia {
    background: url('../assets/maps/crochetbia.png');
  }

  .ponds {
    background: url('../assets/maps/ponds.png');
  }

  .tideout {
    background: url('../assets/maps/tideout.png');
  }

  .arena {
    background: url('../assets/maps/arena.png');
  }