.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 50px;
}

.container {
  width: 1000px;
  margin: 0 auto;
  font-size: 2rem;
  justify-content: space-between;
}

.player {
  min-width: 200px;
  text-align: center;
  padding: 2px;
  color: white;
}

.maps, .gray {
  padding: 5px;
  object-fit: cover;
  width: 500px;
}

.map, .civ {
  height: 150px;
  width: 155px;
  border: 1px solid black;
  margin: 5px;
  background-size: 120%;
  background-position: center;
  font-size: 15rem;
  color: red;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.civ {
  height: 100px;
  width: 100px;
}

.plus {
  height: 50px;
  width: 50px;
  margin: 25px 5px;
  border-radius: 50%;
  background: rgba(255,255,255,.5);
  color: teal;
}

.plus:hover {
  cursor: pointer;
  background: teal;
  font-weight: 700;
  color: white;
}

p {
  font-size: 1rem;
  margin: 0;
}

.flex-col {
  flex-direction: column;
}

input {
  font-size: 2rem;
  width: 90%;
  background: teal;
  text-align: center;
}

input::placeholder {
  color: white;
}

h1 {
  text-align: center;
  margin: 0 auto;
  color: white;
  font-weight: 300;
  background: teal;
  width: 60vw;
  border-radius: 5px;
}

.gray {
  background: teal;
  width: auto;
}

img {
  height: 150px;
  width: 150px;
  object-fit: contain;
}

body {
  background: black;
  background: radial-gradient(magenta, black);
}

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: rgba(255,255,255,.5);
  background: rgba(5,255,255,.75);
  background: rgba(5,5,5,.65);
}

.white {
  background: white;
  padding: 200px;
  border-radius: 50%;
}

.wrap {
  flex-wrap: wrap;
}

button {
  background: teal;
  font-size: 1.25rem;
  width: 100px;
  height: 40px;
  border-radius: 7px;
  margin: 5px;
}

.buttons {
  margin-top: 100px;
}

button:hover {
  color: white;
  cursor: pointer;
  background: gray;
}

.red {
  color: red;
}