.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 50px;
}

.container {
  width: 1000px;
  margin: 0 auto;
  font-size: 2rem;
  justify-content: space-between;
}

.player {
  min-width: 200px;
  text-align: center;
  padding: 2px;
}

.maps, .gray {
  padding: 5px;
  object-fit: cover;
  /* border: 1px solid lightgray; */
  width: 100%;
}

.map, .civ {
  height: 150px;
  width: 155px;
  border: 1px solid black;
  margin: 5px;
  background-size: 120%;
  background-position: center;
}

.plus {
  height: 50px;
  width: 50px;
  margin: 25px 5px;
  border: 1px solid lightgray;
  border-radius: 50%;
  background: white;
}

.plus:hover {
  cursor: pointer;
  background: gray;
  font-weight: 700;
  color: white;
}

p {
  font-size: 1rem;
  margin: 0;
}

.flex-col {
  flex-direction: column;
}

input {
  font-size: 2rem;
  width: 90%;
  border: 1px solid lightgray;
}

.left {
  text-align: start;
}

.right {
  text-align: end;
}

h1 {
  text-align: center;
  margin: 0 auto;
  color: white;
  font-weight: 300;
  background: gray;
  width: 90vw;
  border-radius: 5px;
}

.gray {
  background: gray;
  width: auto;
}

img {
  height: 150px;
  width: 150px;
  object-fit: contain;
}

body {
  background: black;
  background: radial-gradient(white, gray)
}