.App {
  text-align: center;
}

.page {
  display: flex;

}

section {
  width: 50vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-left {
  background-image: url('./assets/lentil-wallpaper.jpg');
}

.section-right {
  background: #50d8d7;
  color: rgb(183,62,246);
}

section h1 {
  font-size: 2.5rem;
  margin: 15px;
  margin-top: 37vh;
}

.section-left h1 {
  color: white;
  text-shadow: 1px 1px black;
}

.btn-big {
  padding: 20px 80px;
  background-color: rgb(183,62,246);
  border-radius: 45px;
  font-size: 1.5rem;
  border: 1px solid transparent;
}

.btn-left {
  background: rgba(255,255,255,.25);
  backdrop-filter: blur(5px);
}

.btn-right {
  border: 2px solid transparent;
  color: white;
}

.btn-left:hover {
  background: rgba(255,255,255,.75);
  border: 1px solid gray;
}

.btn-right:hover {
  font-weight: 500;
  background: white;
  color: black;
  color: rgb(183,62,246);
}

/* match */

header {
  display: flex;
  justify-content: center;
  height: 65px;
  align-items: center;
  flex-direction: column;
  color: lightgray;
}

.teams  {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  justify-content: space-evenly;
}

.team {
  display: flex;
  width: 100%;
  height: 85px;
  display: flex;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}

.team-left {
  justify-content: flex-end;
}

.team-right {
  justify-content: flex-start;
}

.maps {
  width: 1000px;
  height: 125px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: gray;
}

.map {
  border: 1px solid gray;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  background: lightgray;
}

.civs {
  width: 1000px;
  margin: 0 auto;
  display: flex;
}

.civ-picks {
  padding: 5px;
  width: 500px;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.civ {
  height: 75px;
  width: 75px;
  margin:8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
}

.games {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  overflow-y: scroll;
  max-height: calc(100vh - 540px);
  border-top: 2px solid gray;
}

.games-left, .games-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.games-left {
  align-items: flex-end;
}

.game-left h2 {
  text-align: center;
  padding: 20px;
}

.games-right h2 {
  padding-left: 20px;
  max-width: 100px;
}

.game-left, .game-right {
  display: flex;
  align-items: center;
  background: lightgray;
  width: 250px;
  margin: 10px 15px;
  padding: 5px;
  box-sizing: border-box;
}

.game-left {
  justify-content: flex-end;
}

.games::-webkit-scrollbar {
  display: none;
}

.left {
  background: pink;
}

.right {
  background: plum;
  background: cyan;
}

.match-title {
  margin: 0 auto;
  width: 1000px;
  box-sizing: border-box;
  height: 45px;
  background: gray;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.score {
  color: gray;
  padding: 25px;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
}